body {
    width: 230px;
    color: #ffffff;
    background: #2d2d2d;
}

button {
    height: 40px;
    width: 70px;
    margin-left: 40px;
}

.name {
    background: #2d2d2d;
    margin: 30px;
    width: 300px;
}